.divrootSch {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

.button5 {
    height: 40px;
    width: 70px;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-bottom: 15px;
}

.container3 {
    height: auto;
    background-size: cover;
    width: 100%;
    margin-top: 100px;
    padding-left: 35px;
    padding-right: 35px;
}
.row{
    background-color: blue ;
}